body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userlist-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 1rem;
}
.user-container{
  position: relative;
  display: flex;
  flex-direction: row;
  border: 1px solid #222;
}
.userDetail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

button{
  padding: 1rem 2rem;
  font-size: 1rem;
  margin-top: 2rem;
  background-color: #222;
  border: 1px solid #222;
  color: #fff;
  font-weight: 200;
}
button:hover{
  background-color: rgb(54, 51, 51);
  border: 1px solid rgb(54, 51, 51);
}
.error {
  color: red;
}
